.navback {
	background-color: #f8f8f8;
}

.navbar {
	max-width: 75em;
	margin: auto;
}

.navbarLogo {
	height: 2em;
}

.desktopDisplayNone {
	display: none;
}

.mobileDisplayNone {
	display: inherit;
}

@media (max-width: 576px) {
	.desktopDisplayNone {
		display: inherit;
	}

	.mobileDisplayNone {
		display: none;
	}
}
