.titleContainer {
  display: flex;
  gap: 2em;
  width: 100%;
  align-items: baseline;
}

.titleWrapper {
  white-space: nowrap;
}

.filterWrapper {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  white-space: nowrap;
}

@media screen and (max-width: 468px) {
  .titleContainer {
    flex-direction: column;
    gap: 0.5em;
  }
}

.emptyPage {
  display: grid;
  place-items: center;
  margin: 1rem;
}
