.container {
	height: auto;
	margin: 0 1rem 0.5rem;
}

.contentContainer {
	height: 100%;
	padding: 0.5em 1em;
}

.topRowContainer {
	display: flex;
}

.titleContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: baseline;
	/* gap: 1em; */
}

.title {
	/* white-space: nowrap; */
	margin-right: 1em;
}

.dotsContainer {
	padding-top: 0.5em;
	margin-left: auto;
}

.dots {
	font-size: 1.5em;
	color: black;
	margin: 0.5em 0.5em 0 0;
}

.displayNone {
	display: none;
}

.status {
	/* white-space: nowrap; */
	display: flex;
	gap: 0.25em;
	align-items: baseline;
}

.pending {
	composes: status;
	color: orange;
}

.rejected {
	composes: status;
	color: red;
}

.approved {
	composes: status;
	color: green;
}

.takenDown {
	composes: status;
	color: orangered;
}

.icons {
	font-size: 0.9em;
}

.applicantsContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.applicants {
	margin: auto 0.7em 0.7em auto;
	font-size: 1.4rem;
	padding: 0.3em 0.8em;
	border-radius: 1em;
	background-color: #5cb85c;
	color: black;
	cursor: pointer;
}

.noApplicants {
	composes: applicants;
	background-color: #d9534f;
	cursor: default;
}

.dotsContainerMobile {
	display: none;
}

@media screen and (max-width: 992px) {
	.dots {
		margin-right: -0.5rem;
	}
	.dotsContainer {
		display: none;
	}
	.dotsContainerMobile {
		margin-left: auto;
		display: initial;
	}
	.applicants {
		margin: auto auto 0.7em 0.7em;
	}
}

@media screen and (max-width: 768px) {
	.titleContainer {
		flex-direction: column;
		gap: 0em;
	}
}
