.formBG {
	min-height: calc(100vh - 620px);
	display: grid;
	place-items: center;
}

.formContainer {
	margin: 5.5vmax 0 6.5vmax;
}

.eye {
	font-size: 1.2rem;
	position: relative;
	bottom: 33px;
	left: 295px;
	width: 0;
	height: 0;
}

.eyeError {
	composes: eye;
	left: 270px;
}
