.send {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.receive {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.container {
	border: 0;
	border-radius: 1rem;
	margin: 0 0.5rem 0.3rem;
	padding: 0.5rem 0.8rem;
	max-width: 60%;
}

.sendContainer {
	composes: container;
	background-color: white;
}

.receiveContainer {
	composes: container;
	background-color: rgb(169, 182, 255);
}

.time {
	display: flex;
	font-size: 0.8rem;
	color: rgb(123, 123, 123);
}

.sendTime {
	justify-content: flex-end;
	composes: time;
}

.receiveTime {
	justify-content: flex-start;
	composes: time;
}

.formRow {
	display: flex;
}
