.container {
	padding: 0.5rem;
	margin-bottom: 0.1rem;
	cursor: pointer;
}

.wrapper {
	display: flex;
	gap: 0.8rem;
	/* background-color: red; */
}

.image {
	height: 3.6rem;
	border-radius: 100%;
}

.textContainer {
	width: 79%;
}

.title {
	font-size: 1.2rem;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.time {
	font-size: 0.85rem;
	color: rgb(123, 123, 123);
	margin-left: auto;
	white-space: nowrap;
}

.message {
	text-align: justify;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
