.container {
  max-width: 75rem;
  margin: 2rem auto;
  padding: 0 1rem;
  min-height: calc(100vh - 620px);
}

@media screen and (max-width: 576px) {
  .container {
    padding: 1rem;
    min-height: calc(100vh - 4rem);
  }
}

.stat {
  font-weight: 700;
}

.buttonCol {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.exportButton {
  width: fit-content;
  font-size: small;
}

.exportRow {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.nextCard {
  margin-top: 1.5rem;
}
