.container {
	/* background-color: red; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	/* background-color: darkturquoise; */
	width: 74rem;
	margin: 0 1rem;
}

.imageCol {
	/* background-color: blue; */
}

.detailCol {
	/* background-color: darkorange; */
	margin: 1rem 0 0;
}

.orgCol {
	/* background-color: pink; */
	margin: 1.3rem 0 0;
}

.buttonRow {
	/* background-color: green; */
	padding: 1rem;
}

.divider {
	border-top: 1px solid black;
	margin: 0;
}

/* first col */

.image {
	width: 100%;
	padding: 1rem 0;
	border-radius: 15px;
}

/* second col */

.detailContainer {
	margin: 0 0 1rem;
}

.display {
	flex-direction: nowrap;
}

.displayNone {
	display: none;
}

.lineWrapper {
	/* currently not in use */
}

.shiftWrapper {
	/* currently not in use */
}
/* third col */

.orgContainer {
	margin: 1rem 0 0;
}

@media screen and (max-width: 480px) {
	.detailCol {
		margin: 0;
	}
}
