.email {
	color: #193f76;
}

.dropdown:hover {
	text-decoration: none;
}

.activeNavLink {
	background-color: #eeeeee;
	border-bottom: 2px solid #ef7c00;
}

.modalBody {
	height: 34rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.image {
	width: 100%;
	padding: 0 3rem 1rem;
}

.modalFooter {
	justify-content: center;
}

.pagesRow {
	display: flex;
	justify-content: center;
}

.pages {
	margin-bottom: 0;
}
