.email {
	color: #193f76;
}

.dropdown:hover {
	text-decoration: none;
}

.activeNavLink {
	background-color: #eeeeee;
	border-bottom: 2px solid #ef7c00;
}

.modalBody {
	height: 34rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (max-width: 480px) {
	.modalBody {
		height: auto;
	}
}

.image {
	width: 100%;
	padding: 0 3rem 1rem;
}

.modalFooter {
	justify-content: center;
}

.pagesRow {
	display: flex;
	justify-content: center;
}

.pages {
	margin-bottom: 0;
}

.badge {
	position: relative;
	left: 1.45rem;
	bottom: 0.6rem;
}

.mobileBadge {
	position: relative;
	right: 6.35rem;
	bottom: 0.6rem;
}

.clearNotifs {
	display: flex;
	justify-content: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

.clearNotifs:hover {
	background-color: #e9ecef;
	color: red;
}
