.formContainer {
  min-height: calc(100vh - 610px);
  max-width: 75em;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@media (max-width: 1234px) {
  .formBox {
    width: 95%;
  }
}

.terms > li {
  font-weight: bold;
}

.accordionBox {
  margin: 1em;
}

.typeDisplay {
  grid-gap: 0px;
  /* a useless property */
}

.typeDisplayNone {
  display: none;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.image {
  max-width: 75%;
  max-height: 50vh;
}

.jobHeaderFirst {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

.jobHeader {
  composes: jobHeaderFirst;
  margin-top: 2rem;
}
