header {
	height: 100px;
	background-color: #fff;
}

.logobox {
	display: flex;
	max-width: 75em;
	margin: 0 auto;
	align-items: center;
}

.nusLogo {
	height: 50px;
	margin: 25px 0;
	margin-left: 2em;
}

.ccsgpLogo {
	height: 64px;
	margin: 18px 0;
	margin-right: 2em;
}

@media (max-width: 576px) {
	header,
	.nusLogo,
	.ccsgpLogo {
		height: 0;
	}
}
