header {
  height: 100px;
  background-color: #fff;
}

.logobox {
  display: flex;
  max-width: 75em;
  margin: 0 auto;
}

.headerLogo {
  height: 50px;
  margin: 25px 2em;
}

.rightlogo {
  composes: headerLogo;
  margin-left: auto;
}

@media (max-width: 600px) {
  header,
  .headerLogo {
    height: 0px;
  }
}
