.formBG {
	display: flex;
	justify-content: center;
	align-items: center;
}

.formContainer {
	max-width: 30rem;
	padding: 0 2rem;
	flex-basis: 30rem;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
}

.rightButton {
	margin-left: auto;
}
