.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.hookTag {
  font-size: 36px;
  padding-bottom: 20px;
}

.yourself {
  color: #4361ae;
}

.involved {
  color: #ef7c00;
}
