.container {
  max-width: 75rem;
  padding: 2rem 1rem;
  margin: 0 auto;
  min-height: calc(100vh - 620px);
}

@media screen and (max-width: 576px) {
  .container {
    padding: 1rem;
    min-height: calc(100vh - 4rem);
  }
  .navLink {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
}

.display {
  display: inherit;
}

.displayNone {
  display: none;
}

.eye {
  font-size: 1.2rem;
  position: relative;
  bottom: 33px;
  left: 295px;
  width: 0;
  height: 0;
}

.eyeError {
  composes: eye;
  left: 270px;
}

.imageContainer {
  display: flex;
  /* justify-content: center; */
}

.image {
  max-width: 25%;
}

@media screen and (max-width: 576px) {
  .image {
    max-width: 50%;
  }
}

.cardTop {
  margin-top: 1.5rem;
}

.pillsContainer {
  flex-direction: column;
}

.tabContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  width: 23rem;
}

.cardHeader {
  display: flex;
  align-items: center;
}
